<div class="container-fluid container-employee">
  <div class="content-employee">
    <div class="container-greetings">
      <h1 *ngIf="!working">Welcome employee {{currentUser.name}}!</h1>
      <h1 *ngIf="working">Let's work {{currentUser.name}}!</h1>
      <h4 class="subtitle" *ngIf="!working">To start your work, please choose a client</h4>
      <h4 class="subtitle" *ngIf="working">You are working to {{selectedClient.name}}</h4>
    </div>
  
    <div class="options-employee">
      <div class="container-clients" *ngIf="!working">
        <h3 class="title">Clients avaible:</h3>
        <table>
          <thead>
            <th> <h6 class="space-item-table"><b>Name</b></h6> </th>
            <th> <h6><b>Fantasy Name</b></h6> </th>
          </thead>
          <tbody>
            <tr class="line-client" *ngFor="let client of clients">
              <td> <h6 class="space-item-table"> {{client.name}} </h6> </td>
              <td> <h6 class="space-item-table"> {{client.fantasy}} </h6> </td>
              <td>
                <button class="btn btn-primary button-select-client" (click)="selectClient(client)">Select</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    
      <div class="container-working" *ngIf="working">  
        <h2 class="item-time">
          Hours: {{hour}}
        </h2>

        <h2 class="item-time">
          Minutes: {{min}}
        </h2>

        <h2 class="item-time">
          Seconds: {{sec}}
        </h2>

        <div class="container-butttons">
          <button class="btn btn-success button" (click)="startTimer()">Start</button>
          <button class="btn btn-warning button" (click)="pauseTimer()">Pause</button>
          <button class="btn btn-danger button" (click)="endWork()">Go home</button>
        </div>
      </div>
      
      <button class="btn btn-info" *ngIf="!working" (click)="logout()">Logout</button>
    </div>

  </div>
</div>