<div class="container-fluid container-admin">
  <div class="content-admin">

    <div class="container-greetings">
      <h1>Administration Page</h1>
      <h4 class="subtitle" *ngIf="!manageClients && !manageEmployee">{{currentUser.name}}, here you can manage the employees and
        clients</h4>
      <h4 class="subtitle" *ngIf="manageClients">{{currentUser.name}}, you are managing your clients</h4>
      <h4 class="subtitle" *ngIf="manageEmployee">{{currentUser.name}}, you are managing your employees</h4>
    </div>

    <div class="container-options">

      <div class="sidebar">
        <button class="btn btn-primary" (click)="showEmployee()">Employees</button>
        <button class="btn btn-primary" (click)="showClient()">Clients</button>
        <button class="btn btn-secondary item-buttom" (click)="goDash()">Dashboard</button>
        <button class="btn btn-info item-buttom" (click)="logout()">Logout</button>
      </div>

      <div class="center-content">

        <div class="container-manage" *ngIf="manageEmployee">
          <div class="initial-details">
            <table>
              <thead>
                <th>
                  <h6 class="space-item-table">Name</h6>
                </th>
                <th>
                  <h6 class="space-item-table">Email</h6>
                </th>
                <th>
                  <h6 class="space-item-table">isAdmin</h6>
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>
                    <h6 class="space-item-table">{{user.name}}</h6>
                  </td>
                  <td>
                    <h6 class="space-item-table">{{user.email}}</h6>
                  </td>
                  <td>
                    <h6 class="space-item-table">{{user.isAdmin}}</h6>
                  </td>
                  <td>
                    <button class="btn btn-secondary button-select" (click)="editUser(user)">Edit</button>
                  </td>
                  <td>
                    <button class="btn btn-danger button-select" (click)="deleteUser(user.id)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <button class="btn btn-dark item-buttom" type="button" (click)="newEmployee = true">New</button>
          </div>

          <form *ngIf="newEmployee" class="formNew" [formGroup]="userForm" (ngSubmit)="saveUser(userForm.value)">
            <div>
              <label for="name">
                Name
              </label>
              <input id="name" class="form-control" type="text" formControlName="name">
            </div>

            <div>
              <label for="address">
                Email
              </label>
              <input id="email" class="form-control" type="email" formControlName="email">
            </div>

            <div>
              <label for="address">
                Senha
              </label>
              <input id="password" class="form-control" type="password" formControlName="password">
            </div>

            <div>
              <label for="address">
                Is root user ?
              </label>
              <br>
              <input id="isRoot" type="radio" formControlName="isAdmin" name="isAdmin" value="1">Yes
              <input id="isUser" type="radio" formControlName="isAdmin" name="isAdmin" value="0" checked>No<br>
            </div>

            <button class="btn btn-success item-buttom" type="submit">Cadastrar</button>
            <button class="btn btn-danger item-buttom" (click)="cancelNewEmployee()" type="button">Cancelar</button>
          </form>

        </div>

        <div class="container-manage" *ngIf="manageClients">
          <div class="initial-details">
            <table>
              <thead>
                <th>
                  <h6 class="space-item-table"><b>Client</b></h6>
                </th>
                <th>
                  <h6 class="space-item-table"><b>Fantasy</b></h6>
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let client of clients">
                  <td>
                    <h6 class="space-item-table">{{client.name}}</h6>
                  </td>
                  <td>
                    <h6 class="space-item-table">{{client.fantasy}}</h6>
                  </td>
                  <td>
                    <button class="btn btn-secondary button-select" (click)="editClient(client)">Edit</button>
                  </td>
                  <td>
                    <button class="btn btn-danger button-select" (click)="deleteClient(client.id)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-dark item-buttom" type="button" (click)="newClient = true">New</button>
          </div>

          <form *ngIf="newClient" class="formNew" [formGroup]="clientForm"
            (ngSubmit)="saveClient(clientForm.value)">

            <div>
              <label for="name">
                Name
              </label>
              <input id="name" name="name" class="form-control" type="text" formControlName="name">
            </div>

            <div>
              <label for="fantasy">
                Fantasy
              </label>
              <input id="fantasy" name="fantasy" class="form-control" type="text" formControlName="fantasy">
            </div>

            <button class="btn btn-success item-buttom" type="submit">Cadastrar</button>
            <button class="btn btn-danger item-buttom" (click)="cancelNewClient()" type="button">Cancelar</button>
          </form>
        </div>

      </div>

    </div>

  </div>

</div>